.users-list {
  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;

    span {
      color: var(--input-text-color) !important;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
  }
}