.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;

  span {
    font-weight: bold;
    color: var(--tags-color) !important;
    transition: all 0.2s ease-in-out;

    &:active {
      transform: scale(1.1);
    }
  }
  svg {
    color: var(--tags-color) !important;
  }
}
.categories .MuiButton-containedPrimary {
  background-color: darkgray;
}