html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --border: lightgray;
  --text-color: whitesmoke;
  --text-span-color: whitesmoke;
  --background-color-body: #444;
  --background-color: #292929;
  --input-text-color: wheat;

}

html[data-theme='light'] {
  --button-text-color: #252525;
  --border: rgb(0, 0, 0, 0.1);
  --text-color: black;
  --text-span-color: black;
  --background-color: #f2f2f2;
  --input-text-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color-body) !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;

  &--full {
    max-width: 1000px;
    margin-top: 20px;
  }
}

.wrapper {
  display: flex;
  padding: 80px 30px;
}

.container {
  margin: 0 auto;
  width: 680px;
}

.main-layout-white {
  height: 100vh;
  background-color: var(--background-color-body) !important;
  color: var(--text-color) !important;
  transition: color 500ms linear, background-color 500ms linear;
}