.profile-page {
  width: 680px;
  padding: 20px 20px 10px 20px;
  margin-bottom: 20px;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: color 500ms linear, background-color 500ms linear,  span 500ms linear;

  span {
    color: var(--text-color) !important;
  }

  &__avatar {
    display:flex;
    justify-content: space-between;

    img, svg {
      border-radius: 50% !important;
    }
  }

  &__info {
    margin: 10px 0;
  }
}
.profile-content {
  display: flex;
  align-items: flex-start;

  &__posts {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  &__subscribers {
    padding: 20px;
    margin-bottom: 20px;

    .subscriber-avatars {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
  }
}
.user-activity {
  &__paper {
    padding: 20px;
    width: 680px;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;

    svg {
      color: var(--text-color) !important;
    }
    li {
      background-color: var(--background-color) !important;
      color: var(--text-color) !important;
    }
  }

  h2 {
    text-align: center;
  }
}