.title {
  font-size: 18px !important;
  color: black !important;
  margin-bottom: 25px !important;
  font-weight: 500 !important;
}

.title-back {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin-right: 10px;
    position: relative;
    top: -1px;
  }

  &:hover {
    color: #4683d9;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    width: 120px !important;
    height: 120px !important;
  }

  img {
    border-radius: 50%;
  }
}