.auth-form {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: color 500ms linear, background-color 500ms linear, span 500ms linear, input 500ms linear;

  span {
    color: var(--text-color) !important;
  }
  input {
    color: var(--input-text-color) !important;
  }
}

.title {
  font-size: 18px !important;
  color: var(--text-color) !important;
  margin-bottom: 25px !important;
  font-weight: 500 !important;
}

.title-back {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin-right: 10px;
    position: relative;
    top: -1px;
  }

  &:hover {
    color: #4683d9;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  label {
    color: var(--text-color) !important;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    width: 120px !important;
    height: 120px !important;
  }

  label, h6 {
    color: var(--text-color) !important;
  }

  img {
    border-radius: 50%;
  }
}