.post {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;

  span, svg {
    color: var(--text-color) !important;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  &__description {
    margin: 10px 0 !important;
  }
  &__visibility {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      font-size: 18px;
    }
  }
}
