.main-layout-white {
  height: 100vh;
  background-color: var(--background-color-body) !important;
  color: var(--text-color) !important;
  transition: color 500ms linear, background-color 500ms linear;
}